<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include seo.html %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://gtm.osoma.kr/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KHPHH7Z');</script>
  <!-- End Google Tag Manager -->
  
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/prism.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
  {% if page.hero.search or site.navbar.search %}
    {% include search-js.html %}
  {% endif %}

  <script src="https://www.google.com/recaptcha/api.js?render=6LeCcoEhAAAAABX3zxn3bw3tXPSPiYPcBjD1QvfO"></script>
</head>